src/test/resources/vertica/dbchangelog-projection.xml

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.liquibase.org/xml/ns/dbchangelog-ext/dbchangelog-projection"
            xmlns="http://www.liquibase.org/xml/ns/dbchangelog-ext/dbchangelog-projection"
            elementFormDefault="qualified">


    <xsd:attributeGroup name="columnVertica">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="value" type="xsd:string" />
        <xsd:attribute name="valueNumeric" type="xsd:string" />
        <xsd:attribute name="valueBoolean" type="xsd:string" />
        <xsd:attribute name="valueDate" type="xsd:string" />
        <xsd:attribute name="valueComputed" type="xsd:string" />
        <xsd:attribute name="valueSequenceCurrent" type="xsd:string" />
        <xsd:attribute name="valueSequenceNext" type="xsd:string" />
        <xsd:attribute name="valueBlobFile" type="xsd:string"/>
        <xsd:attribute name="valueClobFile" type="xsd:string"/>
        <xsd:attribute name="defaultValue" type="xsd:string" />
        <xsd:attribute name="defaultValueNumeric" type="xsd:string" />
        <xsd:attribute name="defaultValueDate" type="xsd:string" />
        <xsd:attribute name="defaultValueBoolean" type="booleanExp" />
        <xsd:attribute name="defaultValueComputed" type="xsd:string" />
        <xsd:attribute name="defaultValueSequenceCurrent" type="xsd:string" />
        <xsd:attribute name="defaultValueSequenceNext" type="xsd:string" />
        <xsd:attribute name="autoIncrement" type="booleanExp" />
        <xsd:attribute name="startWith" type="xsd:long" />
        <xsd:attribute name="incrementBy" type="xsd:long" />
        <xsd:attribute name="remarks" type="xsd:string" />
    </xsd:attributeGroup>

    <xsd:element name="createProjection">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="columnVertica" minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attributeGroup ref="tableNameAttribute" />
            <xsd:attribute name="tablespace" type="xsd:string" />
            <xsd:attribute name="remarks" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>